@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@* 
    This is where the Title component is defined
*@
@{

    ViewData["Title"] = "Grader";
}


@* The html and body tags are not included here but in the _Layout file *@
@* Only put unique aspects of this specific site here. The reitariating aspects will go in _Layout *@
<!--A webpage title -->
<h1>Welcome to my website!</h1>
<br /><br />

<!--• Header that lists your preferred name-->
<h2>My name is Styles Weiler</h2>
<!--• A picture of yourself doing something you enjoy-->
<img src="img/IMG_3264.JPG" width="700" height="700" />
<br /><br />

<!--• A paragraph on what you hope to get out of this IS 413 class-->
<p>I hope to learn how enterprise level applications are built from the group up. I want to be prepared to confidently answer questions in an interview and land a job performing tasks related to .NET.</p>
<br />

<!--A header for my list-->
<h4>My Top #3 jobs choices:</h4>

<!--• A list of the Top #3 jobs you are most interested in pursuing when you graduate-->
<ul>
    <li>Software Developer</li>
    <li>Product Manager</li>
    <li>Fullstack Developer</li>
</ul>


